body {
   background-image: url("../images/deathstar.jpeg");
	 width: 100%;
	 min-height: 100%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin: 0;
   font-family: 'Anton', sans-serif;
   font-size: 15px;
}

p {
  color: yellow;
  font-family: 'Anton', sans-serif;
}

.characters {
	color: yellow;
	width: 150px;
	height: 150px;
	padding-top: 100px;
	margin: 5px;
  background-size: 100%;
}

.jumbotron {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: black;
	color: #yellow;
	border-bottom: solid #yellow 1px;
}

.jumbotron h1 {
	font-size: 42px;
	padding-top: 0px;
  font-family: 'Anton', sans-serif;
}

.message{
	font-size: 20px;
	padding-bottom: 0px;
	color: yellow;
  font-family: 'Anton', sans-serif;
}
.content-center {
  color: yellow;
	margin-left: 10px;
	margin-right: 10px;
}
.text-center, .topbar {
  color: yellow;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}
.col-md-3 {
    flex: 1;
}
